@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

@theme {
  --color-primary: #fecb03;
  --color-font-dark: #000000;
  --color-font-light: #7e7e7e;
}

@layer components {
  .nav-link {
    @apply w-45 h-12 flex items-center justify-center rounded-full transition-all duration-500 ease-in-out hover:bg-gray-100;
  }

  .nav-link-active {
    @apply bg-primary font-semibold;
  }

  .btn-primary {
    @apply bg-primary font-semibold py-2 md:py-4 px-4 md:px-8 rounded-full transition-all duration-300 hover:bg-yellow-500 cursor-pointer;
  }

  .btn-secundary {
    @apply border-2 border-gray-200 font-semibold py-2 md:py-4 px-4 md:px-8 rounded-full transition-all duration-300 hover:border-gray-300 cursor-pointer;
  }

  .btn-terciary {
    @apply border-2 border-primary font-semibold py-2 px-4 rounded-full transition-all duration-300 hover:border-yellow-500 cursor-pointer;
  }

  .contact-card {
    @apply w-full max-w-md bg-primary gap-3 font-semibold shadow-xl rounded-full p-6 flex items-center justify-center cursor-pointer transition-all duration-300 hover:shadow-2xl;
  }
}
